<h3>Angular 1.5 demo</h3>
<div ng-app="app">
    <div>
        <a href="#">Home</a>
        <a href="#todo-demo">Form Demo</a>
        <a href="#chart-demo">Chart Demo</a>
    </div>
<div ng-view>
</div>
</div>

<script type='text/javascript' src='bundle.js'></script>