<div id="chart-container">
    <div ng-class="{'connected': vm.isConnected === true, 'disconnected': vm.isConnected === false}" class="reader">{{vm.data}}</div>
    <button ng-click="vm.toggleSocket()">{{vm.getStatus()}}</button>
</div>