.connected {
    color: green;
}

.disconnected {
    color: red;
}

.reader {
    border: solid 1px black;
    width: 200px;
}

#chart-container {
    margin-top: 20px;
}

button {
    margin-top: 10px;
}